<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
        See https://github.com/nlog/nlog/wiki/Configuration-file 
        for information on customizing logging rules and outputs.
    -->
    <targets async="true">
        <target name="file-logger" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${logger} : ${machinename} ${uppercase:${level}} ${message} ${exception}" />
        <target name="console" xsi:type="ColoredConsole" />
        <target name="tracer" xsi:type="Trace" layout="${logger} : ${machinename} ${uppercase:${level}} ${message} ${exception}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file-logger,tracer" />
    </rules>
</nlog>