<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="2.0.0" targetFramework="net45" />
  <package id="logentries.core" version="2.5.0" targetFramework="net45" />
  <package id="logentries.nlog" version="2.3.1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Config" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.1.0.0" targetFramework="net45" />
  <package id="NLog.Targets.Syslog" version="2.1.5357.37121" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.Logging.NLog" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.Razor" version="4.0.31" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.31" targetFramework="net45" />
</packages>